body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
    box-sizing: border-box;
}

/* width */
.programmeRequirements::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}

/* Handle */
.programmeRequirements::-webkit-scrollbar-thumb {
    background: #d3d3d3;
}

#modal-regulation-modal {
    width: 40%;
}

.courseContainer {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.courseContainer::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

/* width */
.table::-webkit-scrollbar {
    height: 3px;
    width: 5px;
}

/* Handle */
.table::-webkit-scrollbar-thumb {
    background: #d3d3d3;
}

/* width */
.studentPlansBox::-webkit-scrollbar {
    height: 3px;
    width: 5px;
}

/* Handle */
.studentPlansBox::-webkit-scrollbar-thumb {
    background: "#BBBBBB";
}
