/* width */
.programmeRequirements::-webkit-scrollbar {
    height: 3px;
}

/* Handle */
.programmeRequirements::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
.programmeRequirements::-webkit-scrollbar-thumb:hover {
    background: #555;
}
